/*----------------------------------------
HERO PAGE 
----------------------------------------*/

.hero-image { 
  background: 
  	linear-gradient(
  	  rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0)
    ),
  	url("./images/LoT_wallpaper.jpg") no-repeat center center fixed; 
  background-size: cover;
  width: auto;
  height: 600px;
  
/*margin: -10px -10px 0px -10px;
	*/
  
}
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

.card border-dark mb-3 {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
.card border-dark {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
  
  
html {
	scroll-behavior: smooth;
}
  


a {
  font-family: "Open Sans", sans-serif;
} 
img {
  border-radius: 50%;
}
body,html{margin:0}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
}

li {
  border-right: 1px solid #bbb;
  float: left;
  

}
li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #33BEFF;
}
.active {
  background-color: #33BEFF;
}

.intro {
	color: white;
	text-align: center;
	position: absolute;
	left: 140px;
	top: 130px;
	margin-bottom: 600px;
	overflow: hidden;
}

.intro h3 {
	font-family: "Open Sans", sans-serif;
	font-style: italic;
	font-size: 26px;
}

.intro h1 {
	font-family: "Oswald", sans-serif;
	font-size: 60px;
	margin-top: -10px;
}

.hero-image {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
}

.down-arrow {
	width: 50px;
}

.down-arrow:hover {
	-webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

@media screen and (max-width: 600px) {
	.intro {
		margin-top: 130px;
		margin-left: -90px;
	}

	.intro h1 {
		font-size: 40px;
	}

}


/*----------------------------------------
EXPERIENCE SECTION
----------------------------------------*/
.experience h1 {
	font-family: "Oswald", sans-serif;
	font-size: 60px;
	font-weight: normal;
	text-align: center;
	padding-top: 10px;
}

.experience-image, .ex-description {
	display: inline-block;
}

.experience-image {
	
	margin-left: auto;
       margin-right: auto;
       width: 50%;
}

.FMlogo {
	height: 83px;
}

.ex-description {
	width: 550px;
	font-family: "Open Sans", sans-serif;
}

.date {
	font-family: "Open Sans", sans-serif;
	margin-left: 50%;
	width: 150px;
	margin-top: -50px;
}

.experience-row {
	margin-bottom: 35px;
}

.experience {
	padding-bottom: 70px;
}

.GSlogo {
	width: 90px;
}


/*----------------------------------------
PAST PROJECTS SECTION #EEEEEE
----------------------------------------*/
.past-projects {
	
	margin: 0 -10px;
	padding-top: 30px;
	padding-bottom: 70px;
}

.past-projects h1 {
	font-family: "Oswald", sans-serif;
	font-size: 60px;
	font-weight: normal;
	text-align: center;
}

.img1 {
	background: url("./images/virginia_assembly.png") no-repeat center center;
}

.img2 {
	background: url("./images/drafting.png") no-repeat center center;
}


.img5 {
	background: url("./images/lobbying.png") no-repeat center center;
}

.img6 {
	background: url("./images/repro_healthcare.png") no-repeat center center;
}

.link1 , .link2 , .link3 , .link4 , .link5 , .link6 {
	width: 33%;
	display: inline-block;
	margin: 1.5%;
}

.link1, .link3, .link5 {
	margin-left: 15%;
}

.link-title {
	position: absolute;
	color: white;
	font-family: "open sans", sans-serif;
	bottom: 0;
	text-align: center;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.8);
	padding-top: 10px;
	padding-bottom: 10px;
}

.img1 , .img2 , .img3 , .img4 , .img5 , .img6 {
	width: 100%;
	height: 300px;
	margin: 0 auto;
	background-size: auto 100%;
	position: relative;
	transition: .5s;
	border: 4px solid rgba(0,0,0,0.7);
}

.img1:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.img2:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.img3:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.img4:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.img5:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.img6:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.8);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
/*  overflow: hidden;*/
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: "Open Sans", sans-serif;
}

/*.text h3 {
	font-family: "Oswald", sans-serif;
	font-weight: normal;
}
*/
.img1:hover .overlay {
	width: 100%;
}

.img2:hover .overlay {
	width: 100%;
}

.img5:hover .overlay {
	width: 100%;
}

.img6:hover .overlay {
	width: 100%;
}



@media screen and (max-width: 1150px) {
	.link1 , .link2 , .link3 , .link4 , .link5 , .link6 {
		margin: 1.25%;
	}
}

@media screen and (max-width: 1000px) {
	.link1 , .link2 , .link3 , .link4 , .link5 , .link6 {
		width: 47%;
	}
}

@media screen and (max-width: 660px) {
	.link1 , .link2 , .link3 , .link4 , .link5 , .link6 {
		width: 90%;
		margin-left: 4%;
		margin-bottom: 25px;
	}
}


/*----------------------------------------
IPHONE6 RESPONSIVENESS SECTION
----------------------------------------*/
body {
	overflow-x: hidden;
}

@media screen and (max-width: 375px) {
	.hero-image {
		width: 510px;
	}

	.about-me {
		width: 510px;
	}

	.aboutme-img {
		width: 390px;
		margin-left: 63px;
	}

	.description {
		margin-left: 120px;
	}

	.rectangle {
		left: 85px;
		top: 1307px;
		height: 310px;
	}

	.github, .linkedin, .resume {
		margin-top: 350px;
	}

	.experience h1 {
		margin-left: 130px;
	}

	.experience-image {
		width: 45%;
		margin-left: 165px;
	}

	.ex-description h4 {
		text-align: center;
		margin-top: -30px;
	}

	.ex-description p {
		margin: 0 40px 0 40px;
	}

	.date {
		display: none;
	}

	.past-projects {
		width: 510px;
	}

	.services {
		width: 510px;
	}

	.service-offering {
		display: block;
		width: 80%;
	}

}

